.red {
    border: 1px solid red;
}

.blue {
    border: 1px solid blue;
}

.banner {
    height: 800px;
    width: 1830px;
    background: url('./Image/sanbongbanner2.jpg') center no-repeat;
    padding: 10px;

}

.dangnhapdangki {
    height: 45px;
    width: 1850px;
    /* margin-top: 0px; */
    background-color: bisque;
}

.dangky {
    float: right;
    text-decoration: none;
    margin-right: 40px;
    padding: 10px 15px;
    border: 1px solid rgb(10, 194, 10);
    border-radius: 20px;
}

.dangnhap {
    float: right;
    text-decoration: none;
    margin-right: 30px;
    padding: 10px 15px;
    border: 1px solid rgb(10, 194, 10);
    border-radius: 20px;

}

.logo {
    /* background: url(./Image/sanbongbanner.jpg)center center no-repeat; */
    height: 100;
    margin-top: 400px;
}

.button {
    text-align: center;
    margin-top: 50px;
}

button {
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid green;
    margin-top: 25px;
    cursor: pointer;
}

.left,
.right,
.center {
    width: 32%;
    text-align: center;
    display: inline-block;
}

.content-center {
    height: 50px;
    margin-top: 50px;
}

span {
    display: block;
}